.App {
  text-align: center;
}

.App-logo {
  margin-top: 25px;
  max-height: 10vh;

  pointer-events: none;
}


.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: a9a9a9;
}

.App-pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;

  margin: auto;
  max-width: 80vw;
}

.Pokemon {
  background-color: #d3d3d3;
  border-radius: 10px;

  margin: 50px 10px;
  width: 200px;
  height: 250px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}